{% extends "main.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="preload" as="image" href="{{ 'assets/images/germany-unsplash.jpg' | url }}">
{% endblock %}

    {% block content %}

    <section class="hero">
        <blockquote class="hero__quote">
            <!-- <p>Je dois tout dire dans une langue qui n'est pas celle de ma mère. C'est ça le voyage.</p>
            <p class="hero__author">— Dany Laferrière</p> -->
          <section aria-labelledby="about-heading">
            <p>This site is my research archive, helping me gather relevant information and track my learning.</p>
            <blockquote>
              <p>Insights and practical research on application security and clean-code practices by <strong>Roberto Vallado</strong>.</p>
            </blockquote>
            <p><small>This site contains no AI-generated content (other than for grammar checking).</small></p>
          </section>
        </blockquote>
    </section> 
    <div class="md-content">
        {{ page.content }}
    </div>

    {% endblock %}
